[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
"b0e561f" = {path="./src", editable = true}

[packages]
boto3 = "*"
cfn-resource-provider = "*"

[requires]
python_version = "3.7"
